/* 布局 */
.flex-sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col-sb{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 外边距 */
.m-t-20 {
  margin-top: 20px;
}