/* 布局 */
.flex-sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col-sb{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-j-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 外边距 */
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px!important;
  text-align: center;
}
.avatar {
  max-width: 400px;
  display: block;
}